body {
  font-family: 'Source Sans Pro', sans-serif;
}

.App {
  text-align: center;
}

.title {
  color: rgba(255, 255, 255, 0.5);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
