body {
  font-family: "Manrope", sans-serif;
  overflow: hidden;
}

.title {
  color: rgba(255, 255, 255, 0.5);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bg {
  background: rgb(183, 180, 255);
  background: linear-gradient(
    103deg,
    rgba(183, 180, 255, 1) 0%,
    rgba(105, 132, 255, 0.8155637254901961) 50%,
    rgba(105, 187, 255, 1) 100%
  );
}
